body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 700px;
    background: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.edit {
    background: green;
}

.delete {
    background: red;
}
